h1 {
    background-color: #96FF76;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    border: 13px solid #000000;
}
    
body {
    background-image: url("/images/addict.gif");
    background-color: #1CEEA3;
    background-size: cover;
}

.row{
    background-color:#1CEEA3;
    height: 300px;
    
}

img{
    height: 300px;
    padding:20px;
   
}
    
 ul {
    list-style-type: none;
    margin: 10px;
    padding: 23px;
    overflow: hidden;
    background-color: black;
    color:#1CEEA3;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
}

.holder {
    margin: 10px;
    padding: 30px;

}

p {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom:50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom:50px;
    border: 1px;
    border: 2px dotted;
    border: medium dashed #1CEEA3;
    background-color: #000000;
    color: #1CEEA3;
}