h1 {
    color: #EE009B ;
    background-color: #EE009B ;
     text-align: center;
}
    
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/236x/40/70/5a/40705af0f46275cc2c3404720ff5b922.jpg");
    background-color: #EE009B 
}
    
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B74157;
}
.pictures {
   width: 120px;
   height: 120px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
}

.holder {
    margin: 10px ;
    padding: 30px ;

}

p {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom:50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom:50px;
    border: 1px;
border: 2px dotted;
border: medium dashed red;
}