h1 {
    color: #EE009B ;
    background-color: #EE009B ;
     text-align: center;
}
    
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/236x/40/70/5a/40705af0f46275cc2c3404720ff5b922.jpg");
    background-color: #EE009B ;
    
   .Ketchup {
    background-color:#80FF00;
    color:black;
    margin: 34px;
    padding:10px;
}
.holder { 
width:40px; 
} 

#pic1 { 
float: right; 
width: 300px;
margin-left:20
} 

#pic2 { 
float: left; 
width: 130px; 
margin-left: 20px; 
} 
.p{
    background-color: yellow;
}