h1 {
    color:blueviolet;
    background-color: #C43562;
     text-align: center;
   font-family: 'Ruslan Display', cursive;
     border: 12px dotted #F2F8EF;
}
    
body {
    background-image: url("https://secure.static.tumblr.com/539e15adfbba7dc888c74e784beb3e64/xblnne0/eopnt90gh/tumblr_static_tumblr_static_awk7zlcthewoo8wokskosw0co_640.jpg");
    background-color: #EE009B;
}
img{
    height: 400px;
    padding:5px;
    margin: auto;
}

#kay{
    padding: 10px;
}
    
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B74157;
}
.pictures {
   display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
}

.holder {
    margin: 10px ;
    padding: 30px ;

}

p {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom:50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom:50px;
    border: 10px dashed #09FFD1;
    background-color: #750E33;
    color:#F2F8EF;
}