body {
    margin: 24px;
    padding:40px;
    background-size:cover;
    background-image: url("https://continuinged.uml.edu/degrees/images/cybersecuritypnt.jpg")
}
    .sky {
        background-color:#8A084B;
        color:white;
}
.Ketchup {
    background-color:#80FF00;
    color:black;
}
.bun {
    background-color:#E2A76F;
    font; Arial:
}
.ball {
    background-color: #FFFF00;
    color:red;
}