h1 {
    color: #EE009B ;
    background-color: #EE009B ;
     text-align: center;
   font-family: 'Abhaya Libre', serif;
     border: 13px dotted #424242;
}
    
body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/236x/40/70/5a/40705af0f46275cc2c3404720ff5b922.jpg");
    background-color: #EE009B;
}
.container {
    background-color:  #810037;
}

#contour{
padding: 30px;
background-color: #810037;
}
    
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AE814A;
}
.pictures {
   display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
}

.holder {
    margin: 10px ;
    padding: 30px ;

}

p {
    font-family: 'Oswald', sans-serif;
    background-color:#AE2C4A;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom:50px;
    padding-left: 50px;
    margin-top: 50px;
    margin-bottom:50px;
    border: 5px dashed #1CEEA3;
    color:#7CF1E8;
}